nav {
  grid-area: nav;
  display: flex;
  width: 100%;
  background-color: var(--head-foot-bg);

  a {
    justify-self: flex-end;
  }

  h1 {
    flex-grow: 2;
    text-align: left;
  }

}

main {
  grid-area: main;
  display: flex;
}

aside {
  grid-area: main;
  display: flex;
  flex-direction: column;
  background-color: var(--aside-bg);
  max-width: 20vw;


  a {
    justify-self: flex-end;
  }
}

footer {
  grid-area: foot;
  background-color: var(--head-foot-bg);
  display: flex;
  justify-content: end;

  .date-time {
    margin-right: 0.5em;
  }

  p {
    margin-block: auto;
  }
}


@media screen and (max-width: 700px) {
  aside {
    grid-area: side;
    max-width: unset;
  }
}

.homepage {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 75% 25%;
  width: 100vw;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.dashboard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-inline: auto;
  justify-content: flex-start;
  color: var(--form-font);
  width: auto;
  height: auto;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgb(0, 0, 0) rgb(164, 195, 235);
}

.dropdown {
  border-radius: 1ch;
  padding: 1ch;
  background-color: var(--text-bg);
  resize: none;
  border-style: unset;
  border: 1px solid black;
  position: relative;
  color: var(--form-font);
}

.home-text {
  width: 100%;
  height: 75%;
  justify-content: space-evenly;
}

.react-grid-layout {
  position: relative;
}

.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
  background: var(--head-foot-bg);
  overflow: hidden;
}

.widget-content {
  margin: 0px;
  padding: 0px;
  border-radius: 12px;
  background-color: var(--aside-bg);
}

.task-widget-content {
  margin: 0px;
  padding: 0px;
  border-radius: 12px;
  background-color: var(--aside-bg);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgb(0, 0, 0) rgb(164, 195, 235)
}

.widget-header {
  padding: 5px;
  cursor: move;
  background-color: var(--aside-bg);
}

.widget-header h3 {
  margin: 0;
  font-size: 2.5em;
  color: var(--text);
}

.react-grid-item.react-grid-placeholder {
  background: rgba(11, 12, 80, 0.1);
  z-index: 2;
}

.reports-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90vw;
}