nav {
  grid-area: nav;
  display: flex;
  width: 100%;
  background-color: var(--head-foot-bg);

  a {
    justify-self: flex-end;
  }

  h1 {
    flex-grow: 2;
    text-align: left;
  }

}

main {
  grid-area: main;
  display: flex;
}

aside {
  grid-area: main;
  display: flex;
  flex-direction: column;
  background-color: var(--aside-bg);
  max-width: 20vw;
  height: 100vh;

  a {
    justify-self: flex-end;
  }
}

footer {
  grid-area: foot;
  background-color: var(--head-foot-bg);
  display: flex;
  justify-content: end;

  .date-time {
    margin-right: 0.5em;
  }

  p {
    margin-block: auto;
  }
}

.main-content {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgb(0, 0, 0) rgb(164, 195, 235);
}

@media screen and (max-width: 700px) {
  aside {
    grid-area: side;
    max-width: unset;
  }
}

.dashboard {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  justify-content: flex-start;
}