form {
  background-color: var(--form-bg);
  position: relative;

  a.hyperlink {
    background-color: unset;
    border: unset;
  }

  div.remember-me {
    align-self: start;
    width: 45%;
    input[type="checkbox"] {
      width: unset;
    }
  }
}


.component {
  /* background-color: var(--sub-mask); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .header {
    width: 100%;
    text-transform: capitalize;
  }

  button {
    border-color: unset;
    border-style: unset;
    margin-top: 2em;
    padding: 0.75em;
    width: 20ch;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.form{
  fieldset{
    border-color: var(--sub-mask);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    max-width: 600px;
    min-width: 400px;
    justify-self: center;
  }
  legend{
    text-align: center;
  }

}

.form.component {
  flex-direction: column;
  min-width: 400px;
  max-width: 600px;

  margin-block: 1em;
  margin-inline: auto;
  padding: 1em;
  border-radius: 1em;

  max-height: min-content;
  justify-self: center;
  align-self: center;

  justify-content: center;
  align-items: center;

  input,
  textarea {
    width: 80%;
    border-radius: 1ch;
    padding: 1ch;
    background-color: var(--text-bg);
    resize: none;
    border-style: unset;
    border: 1px solid black;
    position: relative;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    text-align: center;
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input::placeholder {
    text-align: left;
  }

  textarea {
    field-sizing: content;
  }

  label {
    width: 80%;
    position: relative;
    text-align: left;
  }

  .tooltip {
    position: absolute;
    text-align: right;
    right: 0;
    font-style: italic;
    opacity: 0.8;
  }

  .tooltip-text {
    visibility: hidden;
    position: absolute;
    text-align: left;
    width: auto;
    top: 2ch;
    left: 0;
    z-index: 1;
    font-style: italic;
    opacity: 0.6;
  }

  .tooltip:hover~.tooltip-text {
    visibility: visible;
  }
}

.error {
  background-color: var(--error-bg-color) !important;
  border-color: var(--error-color) !important;
}

.valid {
  background-color: var(--valid-bg-color) !important;
  border-color: var(--valid-color) !important;
}


#toggle-form.collapsible{ display: none;}
#toggle-form:checked ~ .collapsible{ display: block;}
